<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>pyDuino</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.3/angular.min.js"></script>
</head>
<body ng-app="myApp">
    <script>
        var myApp = angular.module('myApp', [], function($interpolateProvider)
        {
                $interpolateProvider.startSymbol('[[');
                    $interpolateProvider.endSymbol(']]');
        });
    </script>
    <h1 id="pyduino">pyduino</h1>
    <div>
        <label>Name:</label>
        <input type="text" ng-model="yourName" placeholder="Enter a name here">
        <hr>
        <h1>Hello [[yourName]]!</h1>
    </div>
</body>
</html>
